.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #11998e, #38ef7d);
  font-family: Arial, sans-serif;
}

.auth-card {
  width: 370px;
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  text-align: center;
}

input {
  width: 100%;
  padding: 13px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 13px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: #11998e;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0d7f75;
}

.error {
  color: red;
}

.link a {
  color: #11998e;
  font-weight: bold;
  text-decoration: none;
}